# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.env
!.env.example

# Large model weights (keep folder)
*.pth
*.pt
*.bin

# Satellite & NWP Data Cache
data_cache/
*.bz2
*.DAT
*.nc
*.grib2

# Vercel
.vercel

